Cache
User
Backups/
CachedData/
CachedExtensions/
Cookies
Cookies-journal
GPUCache/
Network Persistent State
languagepacks.json
logs/
machineid
rapid_render.json
storage.json
*.log*
uni_gateway
build
